input {
  width: 50rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid white;
  resize: none;
  color: white;
  font-family: inherit;
  font-size: 1.6rem;
}
