.footer {
  padding: 3rem 0;
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 7rem;
  border-top: 2px solid white;

  &__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    &-img {
      width: 2.5rem;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;

    &-link {
      background: var(--color-bg);
      padding: 0.8rem;
      border-radius: 0.7rem;
      display: flex;
      border: 1px solid transparent;

      &:hover {
        background: transparent;
        color: var(--color-bg);
        border-color: var(--color-bg);
      }
    }

    &-icon {
      color: white;
      font-size: 2rem;
    }
  }

  &__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
  }
}
