.skills {
  &-heading {
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &-block {
    width: 15rem;
    height: 15rem;
    background: transparent;
    border: 1px solid;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.4s;
    &:hover {
      background-color: rgba(151, 140, 140, 0.486);
    }
  }

  &-icon {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1200px) {
  .skills {
    &-heading {
      font-size: 4rem;
    }

    &-block {
      width: 14rem;
      height: 14rem;
      border-radius: 4rem;
    }

    &-icon {
      font-size: 5rem;
    }
  }
}
